* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #333;
  font-family: sans-serif;
  font-size: 12pt;
  margin: 5px;
}

h1 {
  font-weight: bold;
  color: white;
  font-size: 1.2em;
  margin: 5px;
  clear: both;
}

h2 {
  font-weight: bold;
  color: gray;
  font-size: 1.1em;
  margin: 5px;
  clear: both;
}

nav {
  text-align: center;
  background: none;
  color: transparent;
  width: 800px;
  position: absolute;
  top: 5em;
  left: 8px;
  z-index: 1000;
  font-size: 1.5em;
}

nav:hover {
  background: rgba(10,10,10,0.75);
  color: white;
}

nav > a:hover {
  text-shadow: white .25px .25px 2.5px;
  cursor: pointer;
}

iframe {
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 1em;
  padding: 0.1em;
  border: 1px solid #000;
  background-color: white;
}

select {
  width: 400px;
}

data-annotation {
  top: 20px !important;
}

hyper-video::shadow video::cue(v) { color: orange; }
hyper-video::shadow video::cue(v[voice="Brick"]) { color: white; }
hyper-video::shadow video::cue(v[voice="Margaret"]) { color: red; }
hyper-video::shadow video::cue(v[voice="Grand Maman"]) { color: yellow; }