* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

.timeline {
  clear: both;
}

.container {
  background-color: white;
  opacity: .75;
  border: solid black 1px;
  border-radius: 3px;
  padding: 0px;
  font-size: 12px;
  float: left;
  position: relative;
}

.settings {
  background-color: white;
  border: solid black 1px;
  border-radius: 3px;
  padding: 0px;
  font-size: 12px;
}

.timeMarker {
  position: absolute;
  border: solid black 1px;
  background-color: black;
}

.marker {
  position: absolute;
  opacity: 0.5;
  white-space: nowrap;
  border: solid white 1px;
  cursor: pointer;
}

.marker:hover {
  opacity: 1;
}

.annotations {
  color: black;
  background-color: yellow;
}

.overlays {
  color: black;
  background-color: red;
}

.actors {
  color: white;
  background-color: blue;
}

.chapters {
  color: black;
  background-color: green;
}

.rotated {
  -webkit-transform: rotate(90deg) translateX(12px) translateY(0px);
          transform: rotate(90deg) translateX(12px) translateY(0px);
}

.current {
  opacity: 1;
}