ul {
  margin: 0px;
  padding: 0px;
  clear: both;
}

li {
  float: left;
  margin-right: 5px;
  list-style: none;
}

li.current {
  color: red;
}

video.hypervideo {
  width: 400px;
  height: auto;
  border: 3px solid #000;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
}

img.hypervideo {
  border: 3px solid #000;
  width: 190px;
  height: auto;
  margin: 5px 5px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
  cursor: pointer;
}

figure {
  margin: 0px;
}

figcaption {
  margin: 2px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;
  cursor: pointer;
}

.spinner {
  background-color: black;
  opacity: 0.66;
}

/**
 * (C)Leanest CSS spinner ever
 * http://lea.verou.me/2013/11/cleanest-css-spinner-ever/
 */

@-webkit-keyframes spin {
  to { -webkit-transform: rotate(1turn); }
}

@keyframes spin {
  to { transform: rotate(1turn); }
}

.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  margin: 0 .5em;
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
  -webkit-animation: spin 1s infinite steps(8);
}

.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em; /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee; /* container height - part height */
  transform-origin: 50% 2.5em; /* container height / 2 */
  -webkit-transform-origin: 50% 2.5em; /* container height / 2 */
}

.progress:before {
  background: #555;
}

.progress:after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  background: #777;
}

.progress > div:before {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  background: #999;
}

.progress > div:after {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  background: #bbb;
}